   <%= render 'layouts/header' %>
    <div class="main-content-cover-pic"></div>
    <div class="main-content-body row">

        <div class="col followers-col">
            <p class="tweets-titlebar">Help</p>
              <p>Twitter  ipsum dolor sit amet, consectetur adipiscing elit. Maecenas non purus consectetur, tempus diam quis, iaculis erat. Proin vulputate turpis ut consequat molestie. Donec mi risus, lacinia ut faucibus ac, sagittis id eros. In non condimentum felis. Nulla gravida rutrum consequat. Nam sit amet sagittis enim. Donec condimentum urna tortor, id ullamcorper massa pulvinar eleifend. Nulla varius turpis nec arcu lacinia eleifend. Proin vel varius quam, quis facilisis mi. Nunc facilisis, urna id auctor finibus, turpis est congue lectus, non porta leo elit quis neque. Vestibulum id sodales nunc, porta interdum felis. Ut ante nunc, accumsan eget enim nec, varius luctus libero. Curabitur ultricies odio a mauris pretium pulvinar. Pellentesque dapibus ex accumsan leo convallis, nec congue nibh malesuada. Donec ac lacus nibh. Aenean congue dolor non efficitur tempor.</p>
>
        </div>
    </div>
</div>