body {
  font-family: 'Roboto', sans-serif;
  color: rgb(182, 177, 177);
  margin: 0;
  padding: 0;
  background: #303741;
}

a{
	color:#fff;
	text-decoration: none;
}

.row {
  display: flex;
}

#logo {
  max-width: 50px;
  margin-bottom: 20vh;
  border: 2px solid green;
  padding: 1rem;
  border-radius: 50%;
}

.nav-vertical {
  width: 10%;
  background: #303741;
  box-shadow: 2px 2px 5px #303030;
  min-height: 100vh;
  padding: 2rem;

  .nav-list {
    margin: 0;
    padding: 0;
  }
}

.nav-list li {
  list-style: none;
  font-weight: 300;
  font-size: .9rem;
  line-height: 4em;
}

.fas, .far {
  padding-right: 1rem;
  color: #6D7278;
  font-size: 1.1rem;
}

.nav-list a {
  color: rgb(182, 177, 177);
  text-decoration: none;
}

.nav-horizontal {
  padding: 1rem;
  justify-content: space-between;
}

.s-profile-pic {
  height: 30px;
  width: 30px;
  object-fit: cover;
  border-radius: 50%;
}

.m-profile-pic {
  height: 60px;
  width: 60px;
  object-fit: cover;
  border-radius: 50%;
}

.small-profile-col .welcome-text {
  position: relative;
  top: -10px;
  left: -5px;
}

.search-bar-col {
  width: 80%;
  max-width: 800px;
  margin-top: .8rem;
}

.input-bar{
	padding: .8rem;
  font-size: 1rem;
  width: 100%;
  border: none;
  border-radius: 4px;
  background: #201e1e;
  box-sizing: border-box;
  color:#d6f5e2;
}

.search-bar {
  padding: .8rem;
  font-size: 1rem;
  width: 100%;
  border: none;
  border-radius: 4px;
  background: #201e1e;
  box-sizing: border-box;
  color: #d6f5e2;
}

.main-content {
  flex: 1;
  background: #262D37;
  min-height: 100vh;
}

.main-content-cover-pic {
  background: url(https://cdn.wallpapersafari.com/7/18/bpkMYU.jpg);
  background-size: contain;
  background-repeat: repeat;
  height: 300px;
  background-attachment: fixed;
}

.main-content-body {
  justify-content: space-between;
  max-width: 80%;
  margin: auto;
  position: relative;
  top: -60px;
}

.j-between {
  justify-content: space-between;
}

.fa-check-circle {
  color: #00BF00;
}

.main-content-body .col {
  background: #303741;
  flex: 1;
  margin-right: 1rem;
  border-radius: 6px;
  box-shadow: 0 0 10px 0 rgba(46, 60, 73, 0.2);
  padding: 1.5rem;
}

#tweets-col {
  flex: 2;
}

.tweet-stats-col p {
  text-align: center;
}

.tweet-stats {
  justify-content: space-between;
}

.user-location, .user-fullname, .tweet-stat-number {
  font-size: 1.1rem;
  color: #fff;
}

.f-name {
  color: #fff;
}

.u-name {
  font-size: .8rem;
}

.follower-name {
  padding-left: .6rem;
}

.tweet-post {
  flex: 1;
  margin-left: 1rem;
  background: #3B424C;
  padding: 1rem;
  border-radius: 4px;
}

.tweet {
  margin-bottom: 1.5rem;
}

.tweet-composer {
  padding: .8rem;
  font-size: 1rem;
  width: 100%;
  border: none;
  border-radius: 4px;
  background: #201e1e;
  box-sizing: border-box;
  margin-top: 1rem;
  color: #d6f5e2;
}

.post-pic{
  width: 100%;
    max-height: 300px;
    object-fit: cover;
    object-position: top;
}

.tweets-titlebar {
  border-bottom: 2px solid #00bf00;
  display: inline-flex;
  padding-bottom: .5rem;
  margin-bottom: 2.5rem;
}

.tweet-post-timeago {
  font-size: .8rem;
}

.tweet-btn {
  margin-top: .6rem;
  background: transparent;
  border: 1px solid #00bf00;
  color: #ddd;
  border-radius: 20px;
  padding: .6rem 1.5rem;
  margin-bottom: 2rem;
  max-width: 200px;
}

.tweet-composer::placeholder {
  font-size: .7rem;
  font-family: 'Roboto', sans-serif;
}

@media (min-width: 1200px) {
  .nav-vertical {
    position: fixed;
  }

  .nav-horizontal, .main-content {
    margin-left: 10%;
  }
}

@media (max-width: 1200px) {
  .main-content-body {
    max-width: 95%;
  }

  .tweet-post .row, .followers-col .j-between {
    flex-direction: column;
  }
}

@media (max-width: 1100px) {
  .main-content-body {
    max-width: 400px;
    flex-direction: column;

    .col {
      margin-bottom: 1rem;
    }
  }
}

@media (max-width: 900px) {
  .nav-horizontal {
    flex-direction: column-reverse;
    text-align: center;
  }

  .search-bar-col {
    width: 100%;
  }

  main {
    flex-direction: column;
  }

  .nav-vertical {
    width: 100%;
    padding: 1rem 0;
    min-height: auto;
  }

  .nav-list {
    display: flex;

    a {
      font-size: .7rem;
    }
  }

  .far, .fas {
    color: green;
  }

  #logo {
    display: block;
    margin: 1rem auto;
  }

  .nav-list li {
    text-align: center;
    line-height: 2em;
  }

  .main-content-body .col {
    margin-right: 0;
  }

  .main-content-cover-pic {
    background-repeat: no-repeat;
    height: 130px;
  }
}

.form-col{
	   max-width: 400px;
    margin: 20vh auto;
    width: 100%;
    background: #d6f5e2;
    color: #000;
    padding: 1.5rem;
    border-radius: 6px;
}

.d-block{
	display:block;
	margin-top:1rem;
	margin-bottom:1rem;
}

.text-center{
	text-align: center;
}

.color-black{
	color:#000;
}

.auth-btn{
    color: #fff;
    background: #00BF00;
    border: none;
    padding: .75rem 2.5rem;
    margin: 1rem auto;
    border-radius: 30px;
    font-size: 18px;

}

.likebtn{
    background: transparent;
    color: #00BF00;
    border: 1px solid;
    padding: .2rem .6rem;
}

.editbtn{
    background: transparent;
    color: #fffb73;
    border: 1px solid;
    padding: .2rem .6rem;
}


.deletebtn{
    background: transparent;
    color: #ff7373;
    border: 1px solid;
    padding: .2rem .6rem;
}



.likes-bar{
  font-size: .85rem;
}

.custom-file-input::-webkit-file-upload-button {
  visibility: hidden;
}
.custom-file-input::before {
  content: 'Upload';
  display: inline-block;
  background: #00BF00;
  border-radius: 3px;
  padding: 5px 8px;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
  font-size: 10pt;
  color:#000;
  width:100%;
  position:relative;
  left:70%;
}

.custom-file-input:hover::before {
  border-color: black;
}
.custom-file-input:active::before {
  background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}
