<div class="col form-col">
    <p class="text-center"> <img src="http://gravatar.com/avatar/3b1a49dfd7e18269912a1a4774d4cb44?size=50" alt="logo" id="logo" style="margin-bottom:0;"></p>
  	    <h1 class="text-center">Edit Profile</h1>
        <%= render 'layouts/form' %>
</div>
