
  <div class="col form-col">
  	<p class="text-center"> <img src="http://clipart-library.com/images/BigAp9ri8.png" alt="logo" id="logo" style="margin-bottom:0;"></p>
  	<h1 class="text-center">Edit Profile</h1>
     <%= render 'layouts/form' %>
  </div>
