   <%= render 'layouts/header' %>
    <div class="main-content-cover-pic"></div>
    <div class="main-content-body row">

        <div class="col followers-col">
            <p class="tweets-titlebar">About Us</p>
              <p>Twitter  ipsum dolor sit amet, consectetur adipiscing elit. Maecenas non purus consectetur, tempus diam quis, iaculis erat. Proin vulputate turpis ut consequat molestie. Donec mi risus, lacinia ut faucibus ac, sagittis id eros. In non condimentum felis. Nulla gravida rutrum consequat. Nam sit amet sagittis enim. Donec condimentum urna tortor, id ullamcorper massa pulvinar eleifend. Nulla varius turpis nec arcu lacinia eleifend. Proin vel varius quam, quis facilisis mi. Nunc facilisis, urna id auctor finibus, turpis est congue lectus, non porta leo elit quis neque. Vestibulum id sodales nunc, porta interdum felis. Ut ante nunc, accumsan eget enim nec, varius luctus libero. Curabitur ultricies odio a mauris pretium pulvinar. Pellentesque dapibus ex accumsan leo convallis, nec congue nibh malesuada. Donec ac lacus nibh. Aenean congue dolor non efficitur tempor.<p>

			  <p>Suspendisse in tincidunt ex. Nulla nec risus non odio semper tristique. Nunc volutpat odio id nisi elementum, ut ultrices lectus vehicula. Sed eget enim condimentum, consectetur risus sed, finibus sapien. Integer congue lacus et nisi sodales, eget volutpat nibh molestie. In ut tincidunt risus, vel elementum turpis. Pellentesque lorem purus, ornare vel urna a, mattis lacinia nulla. Vivamus fermentum, dui mattis aliquam dignissim, nisi nulla sollicitudin sapien, non faucibus lorem tellus sed tortor. Fusce gravida quis felis vitae accumsan. Cras urna magna, sodales a aliquam non, viverra vitae eros. Proin ut aliquam mi.</p>
        </div>
    </div>
</div>